aiohttp
click
deepagents
langchain
langchain-google-genai
langchain-mcp-adapters
langchain-mistralai
langgraph
langgraph-checkpoint-sqlite
loguru
playwright
python-dotenv
rich
pymux
deepeval